// .additional-products {}
// .additional-products__wrapper {}
// .additional-products__title {}

.additional-products__list {
  list-style: none;
}

// .additional-products__item {}
// .additional-products__present {}
// .additional-products__image {}

.additional-products__text {
  line-height: 20px;
  text-align: center;
  color: $basic-white;
}
