.button {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  border: none;
  width: 100%;
  color: $basic-white;
  line-height: 20px;
  background: $basic_green;
}
