// .contacts {}
// .contacts__wrapper {}
// .contacts__information {}

.contacts__cooperation {
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: $special-dark;
}

.contacts__address {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: $special_dark-grey;
}

// .contacts__street {}
// .contacts__city {}
// .contacts__map {}
// .contacts__map-image {}
