// .main-nav {}

.main-nav__toggle {
  display: none;
}

// .main-nav__wrapper {}
.main-nav__list {
  list-style: none;
}
// .main-nav__item {}

.main-nav__link {
  text-decoration: none;
  font-size: 20px;
  line-height: 100%;
  text-transform: uppercase;
  color: $basic-black;

  &--current {
    border-bottom: 2px solid $basic_green;
  }
}
