// .promo-hero {}
// .promo-hero__wrapper {}
// .promo-hero__title {}

.promo-hero__slogan {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.promo-hero__button {
  line-height: 26px;
  padding: 14px 26px;
}

// .promo-hero__image {}
// .promo-hero__background-image {}
